body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u252 {
  position:absolute;
  left:50px;
  top:50px;
}
#u252_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
  background-image:none;
}
#u252_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u253 {
  position:absolute;
  left:0px;
  top:0px;
}
#u253_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
  background-image:none;
}
#u253_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
  background:inherit;
  background-color:rgba(202, 121, 69, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
  font-size:16px;
}
#u254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:14px;
  width:20px;
  height:20px;
}
#u255_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:101px;
  width:300px;
  height:40px;
}
#u256_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 255, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u256.selected {
}
#u256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(202, 121, 69, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:61px;
  width:200px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u257_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:196px;
  word-wrap:break-word;
}
#u258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(203, 163, 138, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:160px;
  width:300px;
  height:40px;
}
#u258_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(203, 163, 138, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 255, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u258.selected {
}
#u258_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:112px;
  width:20px;
  height:19px;
}
#u259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:226px;
  width:40px;
  height:40px;
}
#u260_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:36px;
  background:inherit;
  background-color:rgba(202, 121, 69, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:433px;
  width:237px;
  height:36px;
}
#u261_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:233px;
  word-wrap:break-word;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:443px;
  width:16px;
  height:16px;
}
#u262_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u262_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:109px;
  width:269px;
  height:25px;
}
#u263_input {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:25px;
  background-color:#CBA38A;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:168px;
  width:270px;
  height:25px;
}
#u264_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  background-color:#CBA38A;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  border:none;
  border-radius:27px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:398px;
  width:143px;
  height:25px;
}
#u265_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:139px;
  word-wrap:break-word;
}
#u266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:29px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:398px;
  width:143px;
  height:25px;
}
#u266_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:139px;
  word-wrap:break-word;
}
#u267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:168px;
  width:20px;
  height:19px;
}
#u267_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:26px;
  background:inherit;
  background-color:rgba(202, 121, 69, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#99FFFF;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:276px;
  width:225px;
  height:26px;
  font-size:10px;
  color:#99FFFF;
}
#u268_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:221px;
  word-wrap:break-word;
}
