<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hbsd.rjxy.miaomiao">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.mob.MobApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:replace="android:theme">

        <activity android:name=".wq.CatFCActivity" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".zsh.setting.ShowCardActivity"></activity>
        <activity android:name=".zsh.setting.presenter.EditProfileActivity" />
        <activity
            android:name=".zlc.vedio.model.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>



        <activity android:name=".ljt.login.PhoneLoginActivity" />
        <activity android:name=".ljt.login.ShowServiceActivity" />
        <activity android:name=".ljt.login.PasswordLoginActivity" />
        <activity android:name=".ljt.login.ShowProblemActivity" />
        <activity android:name=".ljt.login.LoginProblemsActivity" />
        <activity android:name=".zlc.vedio.model.PleaseLoginActivity" /> <!-- 提示登陆页面 -->
        <activity android:name=".zlc.vedio.model.InfoAndCommentActivity"/> <!-- 点击猫头像或评论跳转到额activity -->
        <activity android:name=".ych.view.MyCatActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".ych.view.FollowActivity">

        </activity>

        <activity
            android:name=".zlc.publish.model.PublishActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- 发布页面 -->
        <!-- 短信验证码 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <meta-data
            android:name="Mob-AppKey"
            android:value="2d45d50c7d388" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="b152d4e7d24567158bafea263be11d71" />
    </application>

</manifest>